@use './Playfair/fonts.scss';
@use '/src/styles/variables.scss' as *;

html, body {
  font-family: 'Playfair Display';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $secondary;
}

button, svg {
  cursor: pointer;
}

#root {
  margin: 0 auto;
}

input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: $primary !important;
        caret-color: $primary;
        border-radius: inherit;
    }
}

.page {
    padding-inline: $padd-80;
}

@media(max-width: 1280px) {
  .page {
    padding-inline: $padd-40;
  }
}

@media(max-width: 1024px) {
  .page {
    padding-inline: $padd-20;
  }
}

@media (max-width: 768px) {
  input, select {
    font-size: $padd-16;
  }
}
