/* Colors */
$primary: #0D1A2A;
$secondary: #FAFAFA;
$accent: #A1D1DA;
$text-gray: #C9C9C9;

$button-dark-hover: #13263E;
$button-dark-active: #0E1824;

$button-light-hover: #EFEFEF;
$button-light-active: #DEDEDE;

$button-strong-hover: rgba(161, 209, 218, 0.1);
$button-strong-active: rgba(161, 209, 218, 0.2);

$button-strong-border-hover: #A1D1DA;
$button-strong-border-active: #678D94;

$disabled: #D9D9D9;

$section-name: #3A3A3A;

$line: #BFC1CC;
$table-line: rgba(201, 201, 201, 0.6);

/* Main */
$transition: all 0.3s ease;

/* Loader */
$loader-size-s: 24px;
$loader-size-m: 48px;
$loader-size-l: 60px;

$loader-svg-s: 16px;
$loader-svg-m: 32px;
$loader-svg-l: 40px;

/* Text */
$font-size-title-big: 64px;
$font-size-title-small: 36px;
$font-size-subtitle: 22px;
$font-size-button: 16px;
$font-size-p24: 24px;
$font-size-p16: 16px;
$font-size-p14: 14px;

$line-height-title: 143%;
$line-height-subtitle: 36px;
$line-height-button: 18px;
$line-height-p20: 24px;
$line-height-p16: 20px;
$line-height-p14: 18px;

/* Padding */
$padd-80: 80px;
$padd-40: 40px;
$padd-32: 32px;
$padd-20: 20px;
$padd-24: 24px;
$padd-16: 16px;
$padd-12: 12px;

/* Button */
$button-height: 35px;
$button-gap: 8px;
