@use '/src/styles/variables.scss' as *;
@use '/src/styles/global.scss';

.switcher {
  display: flex;
  gap: 4px;
  background: #f0f0f0;
  border-radius: 2px;
  padding: 4px;
}

.option {
  padding: 7px 14px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: $transition;
  color: #666;

  &:hover {
    color: $primary;
  }
}

.active {
  background: $button-dark-hover;
  color: $secondary;

  &:hover {
    color: $secondary;
  }
}

@media(max-width: 1024px) {
    .switcher {
        width: fit-content;
        margin-inline: auto;
    }
}