@use '/src/styles/variables.scss' as *;

.color {
    &-secondary {
        color: $secondary;
    }

    &-primary {
        color: $primary;
    }

    &-accent {
        color: $accent;
    }
}
